<?xml version='1.0' encoding='utf-8'?>
    <plugin 
        id="cordova-plugin-backgroundService-android" 
        version="0.1.0" 
        xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>BackgroundServiceAndroid</name>
    <description>Cordova Background Android Service Plugin</description>

    <keywords>cordova, background service, android</keywords>

    <js-module name="BackgroundServiceAndroid" src="www/BackgroundServiceAndroid.js">
        <clobbers target="cordova.plugins.BackgroundServiceAndroid" />
    </js-module>
    
    <platform name="android">

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="BackgroundServiceAndroid">
                <param name="android-package" value="com.amankumar.cordova.BackgroundServiceAndroid" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <service android:name="com.amankumar.cordova.MyService" android:stopWithTask="false" />
        </config-file>

        <source-file src="src/android/BackgroundServiceAndroid.java" target-dir="src/com/amankumar/cordova/BackgroundServiceAndroid" />
        <source-file src="src/android/MyService.java" target-dir="src/com/amankumar/cordova/MyService" />

    </platform>
    </plugin>